* {
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: black;
}

body {
    margin: 0;
    padding: 0;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    z-index: 9999;
}

#preloader .loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 5px solid #071A52;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s ease-in-out infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {transform: rotate(360deg);}
}

.bg-gradient {
    background: rgb(255,179,71);
    background: linear-gradient(90deg, rgba(255,179,71,1) 0%, rgba(255,204,51,1) 100%);
}

.form-login {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-group {
    margin-bottom: 1rem;
    font-weight: bold;
}

.form-input {
    width: 100%;
    display: block;
    color: #495057;
    background-color: #fff;
    border: 1px solid #403B4A;
    border-radius: 0.25rem;
    padding: 10px;
}

.form-cari-input input {
    color: #495057;
    background-color: #fff;
    border: 1px solid #403B4A;
    border-radius: 0.25rem;
    padding: 0.55rem 0.75rem;
}


.bg-button {
    background: rgb(255,128,8);
    background: linear-gradient(90deg, rgba(255,128,8,1) 0%, rgba(255,200,55,1) 100%);
    border: 1px solid #403B4A;
    font-weight: bold;
    color: white;
}

.text-center {
    text-align: center;
}

.th-profile {
    padding: 0;
    margin: 0;
    text-align: left;
    width: 130px;
}

.thead {
    background-color: #071a52;
    color: white;
}

.my {
    margin: 1rem 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #eca31b;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.sidebar ul {
    padding-left: 0;
    margin-left: 0;
    margin-top: 3rem;
    list-style: none;
}

.sidebar ul li a {
    display: block;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    color: white;
    background: #071a52;
}

.main-content {
    margin-left: 300px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.main-content h1 {
    padding: 0;
    margin: 0;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 0 10px;
    cursor: pointer;
    background: #071a52;
    border-radius: 5px;
    border: none;
    color: white;
}

.open-btn {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 30px;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    background: #071a52;
    border: none;
    color: white;
}

.sidebar.closed {
    transform: translateX(-100%);
}

.sidebar.closed + .main-content {
    margin-left: 0;
}

.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #eca31b;
    padding: 10px 20px;
}

.topbar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 0;
}

.topbar h1 {
    font-size: 1.2em;
    margin: 0;
}

.btn {
    margin: 2px;
    display: inline-block;
    font-size: 1rem;
    color: black;
    text-align: center;
    border: 1px solid black;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
    background: #071a52;
    border: none;
    color: white;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

table {
    width: 100%;
}

.card {
    border: 1px solid black; 
    width: 200px; 
    padding: 0 20px; 
    border-radius: 5px;
    display: inline-block;
}

.card h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}


.card h4 {
    margin-top: 0;
}


.bg-black {
    border: none;
    height: 2px;
    background-color: black;
    border-radius: 5px;
}

.logo {
  width: 100px;
  display: block;
  margin: auto;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.link {
    color: black;
    text-decoration: none;
}